/* styles.css */

/*body {
    background-color: #343434; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 画面の高さいっぱいに広がるように 
    margin: 0;
}*/
  


.video-container {
    position: fixed;
    justify-content: center;
    transition: opacity 0.5s ease-out;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:100;
}
.video-container .fullScreenBackBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #343434; 
    z-index: 0; 
}

.video-container img {
    position: absolute;
    top: 105px;
    left: 411px;
    transform:  scale(0.76);
    z-index: 2;
    
}
.video-container .color-box img{
    position: absolute;
    top: 320px;
    left: 570px;
    transform: scale(0.35);
    z-index: 2;
    
}
.video-container video {
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
}
  
#videoPlayer {
    display: block;
    margin: auto; 
}
  

#playButton {
    background: none;
    border: none;
    cursor: pointer;
}
  